.App {
  text-align: center;
}

.Timer {
  font-size: 80px;
}

.Header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.WaterStatus {
  font-size: 40px;
}

.WaterStatus-up {
  color: red;
}

.WaterStatus-down {
  color: green;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-bar button {
  margin: 10px;
}
